<%= form_with model: @patient do |form|%>
  <div>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
    <% @patient.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
    <% @patient.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
 
  <br>
  <%= form.submit %>

<% end %>