<%= form_with model: @patient do |form|%>
  <div>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
    <% @patient.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
    <% @patient.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
 

   <div>
    <%= form.label :doctor_ids, 'Doctors' %><br>
    <%= form.collection_select(:doctor_ids , Doctor.all, :id, :full_name,
      { prompt: "Choice your doctor from a list" }, {multiple: true}) %>
  </div>


 
  <br>
  <%= form.submit %>

<% end %>