<h1>All patients</h1>

<%= link_to "New patient", new_patient_path %>
<hr>
<%@users.each do |user_patient|%>
  <p><%= link_to user.role[0].full_name, user %> |
  <%= link_to "Destroy", user_path(user.role[0]),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>  | 
  <%= link_to "Edit", edit_user_path(user.role[0])%> </p>
<% end %>
<hr>
<%= link_to "New patient", new_patient_path %>
