<%= form_with model: @doctor do |form|%>
  <div>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
    <% @doctor.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
    <% @doctor.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :speciality %><br>
    <%= form.text_field :speciality %>
    <% @doctor.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <hr>
  <br>  
   <div>
    <%= form.label :patient_ids, 'Patients' %><br>
    <%= form.collection_select(:patient_ids , Patient.all, :id, :full_name,
      { prompt: "Choice your patient from a list" }, {multiple: true}) %>
  </div>
  <br>
  <%= form.submit %>

<% end %>