<%= form_with model: @doctor do |form|%>
  <div>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
    <% @doctor.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
    <% @doctor.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :speciality %><br>
    <%= form.text_field :speciality %>
    <% @doctor.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <br>
  <%= form.submit %>

<% end %>