<p>First name: <%= @doctor.first_name%></p>
<p>Last name: <%= @doctor.last_name%></p>
<p>Speciality: <%= @doctor.speciality%></p>

<p>Patients:</p>
<% if @doctor.patients.any? %>
  <% @doctor.patients.each do |patient| %>
    <%= patient.full_name%>
    <br>
  <% end %>  
<% end %>

<ul style="list-style:none; padding: 0">
  <li ><%= link_to "Edit", edit_doctor_path(@doctor)%></li>
</ul>